html,
body,
#container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#container {
    box-sizing: border-box;
    display: flex;
}

.row {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.column {
    box-sizing: border-box;
    flex: 1;
    border: solid 1px black;
}